{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h3>Stock In</h3>

    <div class="card p-4">

        <h5>{{ inventory.product.product_name }}</h5>

        <p>
            Current Stock :
            <strong>{{ inventory.quantity }}</strong>
        </p>

        <form method="POST">
            {% csrf_token %}

            <label>Add Quantity</label>

            <input
                type="number"
                name="quantity"
                class="form-control"
                min="1"
                required>

            <br>

            <button class="btn btn-primary">
                Update Stock
            </button>

        </form>

    </div>

</div>

{% endblock %}